In [28]:
import pandas as pd
import numpy as np
import random
from IPython.display import display, HTML
import matplotlib.pyplot as plt

studentsData = pd.read_csv('StudentsPerformance.csv')
namesData = pd.read_csv('all_goalkeepers.csv')

studentsData.insert(0,'Name',namesData['Player'])
studentsData.insert(2,'Age',[random.randint(18,28) for i in range(studentsData.shape[0])])

studentsData = studentsData.rename(columns = {"race/ethnicity": "ethnicity", "parental level of education": "parental education"})

studentsData.to_csv('final.csv')

General Analysis

In [29]:
def datasetAnalysis(dataset):
    display(HTML('<h4>Analysis by gender</h4'))
    display(dataset.groupby("gender").mean()[["math score","reading score","writing score"]])

    display(HTML('<h4>Analysis by age</h4'))
    display(dataset.groupby("Age").mean()[["math score","reading score","writing score"]])

    display(HTML('<h4>Analysis by ethnicity</h4'))
    display(dataset.groupby("ethnicity").mean()[["math score","reading score","writing score"]])

    display(HTML('<h4>Analysis by parental level of education</h4'))
    display(dataset.groupby("parental education").mean()[["math score","reading score","writing score"]])

    display(HTML('<h4>Analysis by Lunch</h4'))
    display(dataset.groupby("lunch").mean()[["math score","reading score","writing score"]])

In [30]:
datasetAnalysis(pd.read_csv('final.csv'))

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

     math score  reading score  writing score
Age
18    65.475610      70.280488      69.585366
19    64.660870      67.739130      67.173913
20    66.107143      70.559524      69.321429
21    65.715789      68.368421      67.715789
22    66.769231      68.714286      67.648352
23    64.546512      66.976744      64.883721
24    65.724138      68.551724      68.149425
25    68.352941      71.211765      68.847059
26    65.860215      68.387097      67.451613
27    67.915663      72.096386      70.626506
28    66.373737      68.888889      67.828283

           math score  reading score  writing score
ethnicity
group A     61.629213      64.674157      62.674157
group B     63.452632      67.352632      65.600000
group C     64.463950      69.103448      67.827586
group D     67.362595      70.030534      70.145038
group E     73.821429      73.028571      71.407143

                    math score  reading score  writing score
parental education
associate's degree   67.882883      70.927928      69.896396
bachelor's degree    69.389831      73.000000      73.381356
high school          62.137755      64.704082      62.448980
master's degree      69.745763      75.372881      75.677966
some college         67.128319      69.460177      68.840708
some high school     63.497207      66.938547      64.888268

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256